body {
  font-family: "Georgia", serif;
  line-height: 1.7;
  text-align: justify;
  font-size: 1.05em;
  margin: 1em;
}

h1, h2, h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  orphans: 3;
  widows: 3;
}

